@import "../../styles/variables.scss";

@mixin retrobutton($color) {
  border: 3px solid $color;
  background-color: black;
  color: $color;
  font-family: "Press Start 2P";
  padding: 10px;
  margin: 10px;
  &:hover {
    background-color: $color;
    color: black;
    cursor: pointer;
  }
}

.retrobutton {
  @include retrobutton($yellow);
  &.red {
    @include retrobutton($high_red);
  }
  &.green {
    @include retrobutton($high_green);
  }
  &.blue {
    @include retrobutton($high_blue);
  }
  &.black {
    @include retrobutton($black);
    color: $white;
    border: 3px solid $white;
    &:hover {
      background-color: $white;
      color: black;
      cursor: pointer;
    }
  }
}
