.playermatrix {
  /*  padding: 10px;
    display: inline-grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    gap: 0px 0px;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."; 
      place-items: center; */
  width: 200px;
  &:focus:not(.focus-visible) {
    outline: lightgreen solid 2px;
  }

  /* Optional: Customize .focus-visible */
  &.focus-visible {
    outline: lightgreen solid 2px;
  }
}
