$low_green: #00aa00;
$low_blue: #0000aa;
$low_cyan: #00aaaa;
$low_red: #aa0000;
$low_magenta: #aa00aa;
$brown: #aa5500;
$light_gray: #aaaaaa;
$dark_gray: #555555;
$high_blue: #5555ff;
$high_green: #55ff55;
$high_cyan: #55ffff;
$high_red: #ff5555;
$high_magenta: #ff55ff;
$yellow: #ffff55;
$gray_bg: rgb(34, 34, 34);
