.playermatrix {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 100%;
  padding: 20px;
  align-content: center;
  input {
    background: none;
    border: 3px solid white;
    width: 175px;
  }
}
