@import '../../styles/variables.scss';
.player_cell_wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  margin: 10px;
  .playerName {
    flex-basis: 100%;
  }
  .teamSelectButton {
    flex-basis: 50px;
    height: 25px;
    cursor: pointer;
  }
}
