@import "../../styles/variables.scss";
.player_cell_wrapper {
  display: flex;
  justify-content: center;
}
.playercell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .indicator {
    visibility: hidden;
    padding: 10px;
    color: $white;
  }
  &.active {
    color: $yellow;
    .indicator {
      visibility: visible;
    }
  }
}
